<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Archivarius" version="0.2.1-dev.8" targetFramework="net481" />
  <package id="Archivarius.Tools" version="0.2.1-dev.5" targetFramework="net481" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.2" targetFramework="net481" />
  <package id="System.Threading.Tasks.Extensions" version="4.6.3" targetFramework="net481" />
</packages>